# See https://help.github.com/ignore-files/ for more about ignoring files.

# OS
.DS_Store
Thumbs.db

# IDE
_.*
.project
.idea
/*.iml
.vscode

# Node
node_modules
npm-debug.log
yarn-error.log
lerna-debug.log

# testing
/coverage

# production
/dist