
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

//stylelint-disable declaration-no-important
//
// Extending Bootstrap default width declaration (h-w-25, h-w-50, h-w-75, h-w-100) with breakpoints
//
$helper-css-prefix: "" !default;
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .#{$helper-css-prefix}w#{$infix}-#{25} {
      width: 25% !important;
    }
    .#{$helper-css-prefix}w#{$infix}-#{50} {
      width: 50% !important;
    }
    .#{$helper-css-prefix}w#{$infix}-#{75} {
      width: 75% !important;
    }
    .#{$helper-css-prefix}w#{$infix}-#{100} {
      width: 100% !important;
    }
    .#{$helper-css-prefix}w#{$infix}-auto {
      width: auto !important;
    }
  }
}
